.modal-overflow {
    position: fixed;
    inset: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.99;
}

.modal-overflow .modal-body {
    background-color: rgb(48, 45, 45);
    padding: 24px;
    width: 60%;
    border-radius: 15px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.modal-overflow .modal-body h2 {
    color: black;
    font-size: 30px;
}

.modal-overflow .modal-body .input-container {
    color: black;
    width: calc(100% - 24px);
}

.modal-overflow .modal-body input {
    padding: 12px;
    border: 2px solid rgb(#504f63);
    color: black;
    font-size: 18px;
    line-height: 24px;
    border-radius: 12px;
    width: 100%;

    margin-bottom: 12px;
}

.modal-overflow .modal-body label {
    color: rgb(#242424);
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 18px;
}

.modal-overflow .modal-body .btn-secondary {
    position: initial;
    width: 100%;
    margin-top: 20px;
}

.modal-overflow .modal-body .btn-secondary:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(157, 36, 36);
    border-radius: 10px;
    border-color: black;
    transform: scale(1);
}